{%- macro make_field(field_name, field_type, field_real_name, default_value, cell_coordinate, not_required=False) -%}
    {{ field_name }}: {{ field_type }} = attrib_factory(
        {%-  if field_type == "str" %}
        default="{{ default_value }}",
        {%  else %}
        default={{ default_value }},
        {%  endif -%}
        {%- if not_required -%}
        required=False,
        {%  endif -%}
        metadata=AttrMeta(
            {%- if ((cell_coordinate | length) + (field_real_name | length) > 26) %}
            short_description="{{ cell_coordinate }}",
            long_description="{{ field_real_name }}",
            {%- else %}
            short_description="{{ cell_coordinate }}", long_description="{{ field_real_name }}"
            {%- endif %}
        ),
    )
{%- endmacro -%}
{%- if description -%}
"""{{ description }}"""
{%- endif %}
from typing import Any, Dict

import attr
from ahu_data_structure.collection.attribute import attrib_factory, AttrMeta
from ahu_data_structure.models.base.vendor import (
    VendorComponent,
    VendorComponentRequest,
)


@attr.dataclass(auto_attribs=True)
class {{ vendor_component_name }}Request(VendorComponentRequest):
    """Request object for '{{ vendor_component_name }}' input data."""
{% for field_name, field_type, field_real_name, default_value, cell_coordinate in input_fields %}
    {{ make_field(field_name, field_type, field_real_name, default_value, cell_coordinate, True) }}
{%- endfor %}

    def to_input_cells(self) -> Dict[str, Any]:
        """Generate a dict with cell coordinates to be used as input data."""
        return {
            field.metadata["short_description"]: getattr(self, field.name)
            for field in attr.fields(self.__class__)
            if field.name != "cls_name"
        }


@attr.dataclass(auto_attribs=True)
class {{ vendor_component_name }}(VendorComponent):
    """Response object for '{{ vendor_component_name }}' output data."""
{% for field_name, field_type, field_real_name, default_value, cell_coordinate in output_fields %}
    {{ make_field(field_name, field_type, field_real_name, default_value, cell_coordinate) }}
{%- endfor %}

    @classmethod
    def from_output_data(cls, data: Dict[str, Any], use_labels: bool = True):
        """Constructor of response object from labelled output data."""
        meta_key = "long_description" if use_labels else "short_description"
        field_conversor = {
            f.metadata[meta_key]: f.name
            for f in attr.fields(cls)
            if f.name != "cls_name"
        }
        new_data = {field_conversor[k]: v for k, v in data.items()}
        new_data["cls_name"] = cls.__name__
        return cls.from_dict(new_data)

