{%- macro make_field(field_name, field_type, field_real_name, default_value, cell_coordinate) -%}
    {{ field_name }}: {{ field_type }} = attr.ib(
        {%-  if field_type == "str" %}
        default="{{ default_value }}",
        {%  else %}
        default={{ default_value }},
        {%  endif -%}
        {%- if ((cell_coordinate | length) + (field_real_name | length) > 30) -%}
        metadata={
            "coordinate": "{{ cell_coordinate }}",
            "label": "{{ field_real_name }}",
        },
        {%- else -%}
        metadata={"coordinate": "{{ cell_coordinate }}", "label": "{{ field_real_name }}"},
        {%- endif %}
    )
{%- endmacro -%}
{%- if description -%}
"""{{ description }}"""
{%- endif %}
from typing import Any, Dict

import attr


@attr.dataclass(auto_attribs=True)
class {{ vendor_component_name }}Request:
    """Request object for '{{ vendor_component_name }}' input data."""
{% for field_name, field_type, field_real_name, default_value, cell_coordinate in input_fields %}
    {{ make_field(field_name, field_type, field_real_name, default_value, cell_coordinate) }}
{%- endfor %}

    def to_input_cells(self) -> Dict[str, Any]:
        """Generate a dict with cell coordinates to be used as input data."""
        return {
            field.metadata["coordinate"]: getattr(self, field.name)
            for field in attr.fields(self.__class__)
        }


@attr.dataclass(auto_attribs=True)
class {{ vendor_component_name }}:
    """Response object for '{{ vendor_component_name }}' output data."""
{% for field_name, field_type, field_real_name, default_value, cell_coordinate in output_fields %}
    {{ make_field(field_name, field_type, field_real_name, default_value, cell_coordinate) }}
{%- endfor %}

    @classmethod
    def from_output_data(cls, data: Dict[str, Any], use_labels: bool = True):
        """Constructor of response object from labelled output data."""
        meta_key = "label" if use_labels else "coordinate"
        field_conversor = {
            f.metadata[meta_key]: f.name for f in attr.fields(cls)
        }
        return cls(**{field_conversor[k]: v for k, v in data.items()})

